figcaption {
  font-size: 8px;
  padding: 2px;
  max-width: fit-content;
  margin-top: -24px;
  margin-left: auto;
  margin-right: 3px;
}

figcaption a {
  background-color: rgba(255, 255, 255, 0.72);
  border-radius: 10px;
  padding: 4px 5px 0px 5px;
  margin: 2px;
}

.plant-card .MuiCardHeader-root {
  padding-left: 10px;
  padding-bottom: 0px;
}

.plant-card .MuiCardContent-root {
  /* Controls space above topmost divider */
  padding-top: 14px;
}

.plant-card.selected {
  background-color: #a9ff89;
  outline-style: solid;
  outline-color: #a9ff89;
  outline-width: 4px;
}

.plant-image-container {
  position: relative;
}

.plant-name {
  background: linear-gradient(to right, #00000055 50%, transparent 80%);
  padding-left: 6px;
  font-size: 12px;
  width: 100%;
  position: absolute;
  text-shadow: 2px 2px 2px black;
  color: white;
}
.plant-name .MuiCardHeader-title {
  font-size: 1.45rem;
  max-width: 265px;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 0px;
}

.plant-name .MuiCardHeader-root {
  padding-top: 10px;
}

.plant-name .MuiCardHeader-subheader {
  color: white;
}

hr.MuiDivider-root {
  margin-top: 7px;
  margin-bottom: 5px;
}
.plant-card .MuiChip-root {
  height: 20px;
  width: 24px;
  border-radius: 10px;
  margin: 1px;
}

.plant-card .MuiChip-label {
  margin-top: 1px;
  padding: 0px 3px 0px 3px;
  font-size: 0.5rem;
}

button.add-plant-button {
  background-color: #4caf50;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  border: solid;
  border-width: 2px;
  border-color: white;
  border-style: solid;
}

button:hover.add-plant-button {
  background-color: #4caf50;
  color: white;
}
