/backend/.cargo
/backend/.env
/backend/Cargo.lock
/backend/db/backup*
/backend/db/data
/backend/target
/backend/vendor
/frontend/maps/*.sql
/frontend/maps/*.txt
/frontend/www/.env*
/frontend/www/build
/frontend/www/node_modules
