figcaption {
  font-size: 8px;
  padding: 2px 2px 0;
  margin: none;
  max-width: fit-content;
}

.card-loading {
    display: flex;
    justify-content: flex-end;
    margin-top: -5px;
}

.highlight-container {
    min-height: 75px;
}
