form {
  max-width: 725px;
  margin-inline: auto;
  padding-inline: 10px;
}

form button[type="submit"] {
  width: 300px;
  background-color: #4caf50;
  margin-bottom: 25px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

