#returned-plants {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  padding-bottom: 20px;
  max-width: 1500px;
  margin-inline: auto;
}