body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button[type="submit"] {
  max-width: 95vw;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-left: 12px;
  margin-right: 12px;
}
