figcaption {
  font-size: 8px;
  padding: 2px 2px 0;
  margin: none;
  max-width: fit-content;
}

#returned-plants {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

#returned-plants::after {
  content: "";
  width: 350px;
}

/* this isn't working...*/
#returned-plants::after::after {
  content: "";
  width: 350px;
}