figcaption {
  font-size: 8px;
  padding: 2px 2px 0;
  margin: none;
  max-width: fit-content;
}

#returned-plants {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}